extends layout

block header
    h1= title

block content
    p Welcome to #{title}
    input(type='button', onclick='removeAll()', value='Remove all')

block items
    ul.items

block itemSubmission
    div.itemSubmission
        div Enter some text:
        textarea.submitText(placeholder='Dat some text yo', rows='1', cols='1', name='text')
        div
            input.submit(type='button', value='Submit')
