doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/test.css')
  body!= body
    #header
        block header
    #content
        block content
        block items
        block itemSubmission

    script(src='javascripts/lazyload.js')
    script.
        // Load from CDN
        LazyLoad.js(['javascripts/jquery-1.11.1.js', 'javascripts/client.js'], function() {

        })

