doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/test.css')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/jquery-1.11.1.js')
    script(src='javascripts/client.js')
  body!= body
    #header
        block header
    #content
        block content
        block items

