doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/test.css')
  body!= body
    #header
        block header
    #content
        block content
        block items
        block itemSubmission

    script(src='javascripts/lazyload.min.js')
    script.
        LazyLoad.js(['/socket.io/socket.io.js', 'javascripts/jquery-1.11.1.min.js', 'javascripts/doT.min.js', 'javascripts/client.js'], function() {
            console.info('All loaded');
        })

